*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 400px;
  background-color: black;
}

.content {
  border: 2px; 
  float: left;
  width: 65%
}

h1 {
  padding: 1em 0 0 1em;
  font-size: 2em;
  font-weight: bold;
}

h3 {
  padding: .50em 1.2em 1.4em 1.4em;
  font-size: 1.4em;
  font-weight: 100;
}

div {
  float: left;
  margin: 0 auto;
  width: 100%;
}

div:hover {
  background-color: #c0c0c0;
}

.location {
  border-bottom: 1px gray;
  width: 100%
  background-color: white;
  float: left;
}

.restaurant-list {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  width: 420px;
}

.arrow {
  float: right;
  margin: 0;
  width: 20%;
  padding: 4em 0 0 4em;
}
